<div class="users-page-container">
  <div *ngIf="loading">Loading...</div>

  <div *ngIf="!loading && !isAdmin">
    <h2>Access Denied</h2>
    <p>You need admin privileges to view this page.</p>
  </div>

  <div *ngIf="!loading && isAdmin">
    <h2>Users Management</h2>
    <table border="1">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Birth Date</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.birthDate }}</td>
          <td>{{ user.admin ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
