<!DOCTYPE html>
<html>

<body>
<h2>Flat's details</h2>

<div class="flat-details" *ngIf="flat && !editMode">
  <p><strong>Name:</strong> {{ flat?.name }}</p>
  <p><strong>Address:</strong> {{ flat?.address }}</p>
  <p><strong>City:</strong> {{ flat?.city }}</p>
  <p><strong>Rent:</strong> {{ flat?.rent | currency }}</p>
  <p><strong>Area Size:</strong> {{ flat?.areaSize }} sqm</p>
  <p><strong>Has AC:</strong> {{ flat?.hasAC ? 'Yes' : 'No' }}</p>
  <p><strong>Year Built:</strong> {{ flat?.yearBuilt }}</p>
  <p><strong>Date Available:</strong> {{ flat?.dateAvailable | date }}</p>

  <!-- Botão Editar visível apenas para o proprietário -->
  <button *ngIf="isOwner" (click)="startEdit()">Editar</button>
</div>
</body>
</html